<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 h100p"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 h100p"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 h100p"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js h100p"> <!--<![endif]-->
<head>
    {% include 'partials/head.html.partial' %}
</head>
<body class="h100p portfolio-browse">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

<div class="row h100p">
    <div class="col-xs-24 col-sm-2 col-md-2 col-lg-6 h100p sidebar sidebar-fixed">
        {% include 'partials/sidebar.html.partial' %}
    </div>
    <div class="col-sm-20 col-md-20 col-lg-16 col-sm-offset-3 col-md-offset-3 col-lg-offset-7 h100p">
        <div class="hidden-xs" style="height: 25%; min-height: 200px;"></div>
        <div class="main pt50">
            <div class="jumbotron">
                <div class="container">
                    <h1>I'm { Chung-Yi Chi }</h1>
                    <p></p>
                    <p>The new design with my recent works is coming soon. I will share what I've done and my thoughts about User Exeprience and Front-end Development here.</p>
                    <p>In the mean time, please take a look at my <a href="{{url_for('browse_portfolio')}}">portfolio</a> and feel free to <a href="{{url_for('contact')}}">contact</a> me.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/js-libs.html.partial' %}

{% include 'partials/google-analytics.html.partial' %}

</body>
</html>
