<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% include 'partials/head.html.partial' %}
</head>
<body class="portfolio-work">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

<div class="row">
    <div class="col-xs-24 col-sm-2 col-md-2 col-lg-1 h100p sidebar sidebar-fixed">
        {% include 'partials/sidebar-thin.html.partial' %}
    </div>
    <div class="col-lg-24">
        <div class="main pt50">
            <section class="summary-area">
                <div class="row">
                    <div class="col-sm-20 col-md-20 col-lg-15 col-sm-offset-3 col-md-offset-3 col-lg-offset-5">
                        <ol class="breadcrumb">
                            <li><a href="{{url_for('index')}}">Chung-Yi Chi</a></li>
                            <li><a href="{{url_for('browse_portfolio')}}">Portfolio</a></li>
                            <li class="active">{{work.post.title}}</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-5">
                        <h1>{{ work.post.title }}</h1>
                        <h2>{{ work.subtitle }}</h2>
                        <p>{{ work.summary }}</p>
                        <div class="meta">
                            <!--
                            <ul>
                                <li><i class="icon-user-9"></i> Techincal Lead</li>
                                <li><i class="icon-calendar-8"></i> Jan, 2011 - Aug, 2011</li>
                                <li><i class="icon-world"></i> <a href="#">Website</a></li>
                            </ul>
                            -->
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <img src="{{ work.cover_image_url }}">
                    </div>
                </div>
            </section>
            <section class="content-area">
                <div class="row">
                    <div class="col-sm-20 col-md-20 col-lg-15 col-sm-offset-3 col-md-offset-3 col-lg-offset-5">
                        {{ work.post.content|safe }}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% include 'partials/js-libs.html.partial' %}
{% include 'partials/google-analytics.html.partial' %}

</body>
</html>
